name: CI
on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  test:
    name: Test Bun-${{ matrix.bun-version }} + Julia-${{ matrix.julia-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        julia-version:
          - '1.10'
          - '1.11'
          - '1.12'
          - 'nightly'
        bun-version:
          - 'latest'
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v6
      - uses: jwlawson/actions-setup-cmake@v2
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
          arch: ${{ matrix.arch }}
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}
      - run: |
          bun install && JULIA_NUM_THREADS=auto bun test --coverage --coverage-reporter=lcov
      - uses: codecov/codecov-action@v4
        with:
          disable_search: true
          files: ./coverage/lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
  docs:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jwlawson/actions-setup-cmake@v2
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.12'
          arch: x64
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 'latest'
      - run: |
          bun install && bun typedoc
      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
